/* Шрифты------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
/* Обнуление------ */
*,
*::before,
*::after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color: inherit;
}
ul,
ol,
li{
	list-style: none;
}
img{
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6{
	font-weight: inherit;
	font-size: inherit;
}
html,
body{
    height: 100%;
    line-height: 1;
}
textarea,
button,
input{
    font-weight:inherit;
    font-size: inherit;
    color: inherit;
    font-family:inherit;
}
button{
    cursor: pointer;
    background-color:inherit;
}
/* ------------------- */
body{
	font-size: 18px;
	line-height: 1.5;
	font-family: Inter;
	color: #848FAC;
}
body._lock{
	overflow: hidden;
}
.wrapper{
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background-color: #fff;
}
.wrapper._theme{
	background-color: #0D0D11;
	color: rgba(255, 255, 255, 0.531);
}
